# determines if app is in 'prod', 'dev', 'test', or 'stage'
VITE_NODE_ENV=dev

# API configs
VITE_API_URL=http://localhost:3000/v1
# how long an api request should run for in milliseconds
VITE_API_TIMEOUT=10000

# domain where the frontend lives
VITE_DOMAIN=/