# determines if app is in 'prod', 'dev', 'test', or 'stage'
NODE_ENV=dev

# api port. set to whatever you want in 'dev'
PORT=3000

FRONTEND_URL=http://localhost:5173

# set if both api and frontend live in the same root domain; else leave blank
# example: .saltbam.com
DOMAIN=''

# the secret used to sign the cookie. 
# for prod: simply generate a cryptographically secure string
# for dev: use any string you want
COOKIE_SECRET=secret

# the secret used to sign the jwt. 
# for prod: simply generate a cryptographically secure string
# for dev: use any string you want
JWT_SECRET=secret

JWT_EXPIRY=250000
REFRESH_EXPIRY=100000
EAN_COUNTER_ID=EAN_COUNTER_ID
EAN_COUNTER_DIGITS=9

# dto fields that should not be sanitized (comma seperated)
# example: password,_id
SANITATION_EXCLUDES=password

# determines what amount of consumed heap memory is unhealthy in bytes
HEALTH_HEAP_THRESHOLD=157286400 # 150 * 1024 * 1024 === 150 GB

# determines what amount of total memory is unhealthy in bytes
HEALTH_RSS_THRESHOLD=157286400 # 150 * 1024 * 1024 === 150 GB

# determines what amount of disk space consumed is unhealthy in bytes
HEALTH_DISK_THRESHOLD=157286400 # 150 * 1024 * 1024 === 150 GB

# path where disk space is
HEALTH_DISK_PATH=/